/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMON */

.container {
    width: 1400px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* TYPOGRAPHY */

body {
    font-family: 'Roboto', sans-serif;
}

/* BUTTONS */

a {
    text-decoration: none;
    color: #fff;
}

i {
    margin-right:5px;
}

/* HEADER */

header {  
    background-color: #FF6900;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.head {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
    color: #fff;
}

.nav-left {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width:70%;
    text-align: center;
}

.logo img {
    width: 150px;
    padding: 20px 0;
}

.nav-right {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN */

.row {
    margin-top: 150px;
}

.tab {
    width: calc(100% / 3 - 40px);
    margin: 20px;
}

.showed {
    display: inline-block;
    width:100%;
}

.hidden {
    display:none;
    width: 100%;
}

.col:hover .hidden {
    display: inline-block;
}

.col:hover .showed {
    display: none;
}

.price {
    color: red;
}

.correction {
    text-decoration: line-through;
}

.discount {
    background-color: red;
    color:#fff;
    padding: 5px;
    position:relative;
    bottom: 80px;
    right: 30px;
}

.sost {
    background-color: green;
    color: #fff;
    padding: 5px;
    position:relative;
    bottom: 80px;
    right: 30px;
}

.heart:hover {
    color:red;
}

.heart {
    font-size: 30px;
    position:relative;
    bottom: 600px;
    left: 370px;
}

/* FOOTER */

footer {
    background-color: #1a1a1a;
    color:#fff;
}

.foot {
    display: flex;
    justify-content: space-between;
}

.infolink {
    margin-right: 10px;
}

.info, .contatti {
    padding: 20px;
}